<!--catalog-menu-box-->
<div class="catalog-menu-box">
	<a href="" class="btn-menu-toggle">Каталог</a>
	<div class="catalog-content-block">
		<a href="" class="btn-action-ico ico-close js-catalog-toggle"></a>
		<ul class="menu">
			<li class="open">
				<a href="" class="btn-menu">
					<span class="button-ico">
						<img src="./img/icons/menu01.svg" alt="">
					</span>
					<span class="button-title">Фрукты</span>
				</a>
				<ul>
					<li><a href="">Мандарин (Марокко)</a></li>
					<li><a href="">Апельсин (Марокко)</a></li>
					<li><a href="">Лимон (АФрика)</a></li>
					<li><a href="">Хурма/королек</a></li>
					<li><a href="">Лимон (Узбекистан)</a></li>
					<li><a href="">Апельсин (Иран)</a></li>
					<li><a href="">Киви</a></li>
					<li><a href="">Киви лысое</a></li>
				</ul>
			</li>
			<li class="open">
				<a href="" class="btn-menu">
					<span class="button-ico">
						<img src="./img/icons/menu02.svg" alt="">
					</span>
					<span class="button-title">Овощи</span>
				</a>
				<ul>
					<li><a href="">Перец острый зеленый (Армения)</a></li>
					<li><a href="">Грибы</a></li>
					<li><a href="">Огурцы</a></li>
					<li><a href="">Огурцы (Святогор)</a></li>
					<li><a href="">Черри (плам)</a></li>
					<li><a href="">Черри (желтые)</a></li>
				</ul>
			</li>
			<li class="open">
				<a href="" class="btn-menu">
					<span class="button-ico">
						<img src="./img/icons/menu03.svg" alt="">
					</span>
					<span class="button-title">Зелень</span>
				</a>
				<ul>
					<li><a href="">Шпинат</a></li>
					<li><a href="">Кинза</a></li>
					<li><a href="">Базилик зеленый</a></li>
					<li><a href="">Базилик красный</a></li>
					<li><a href="">Мята</a></li>
					<li><a href="">Размарин</a></li>
					<li><a href="">Романо салат</a></li>
				</ul>
			</li>
			<li>
				<a href="" class="btn-menu">
					<span class="button-ico">
						<img src="./img/icons/menu04.svg" alt="">
					</span>
					<span class="button-title">Специи</span>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<span class="button-ico">
						<img src="./img/icons/menu05.svg" alt="">
					</span>
					<span class="button-title">Акции и скидки</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--/catalog-menu-box-->