<!--filter-box-->
<div class="filter-box">
	<a href="" class="btn-filter">
		<span class="button-ico">
			<img src="./img/icons/menu-filter.svg" alt="">
		</span>
		<span class="button-title">Фильтр</span>
	</a>
	<div class="filter-content-block">
		<a href="" class="btn-action-ico ico-close js-filter-toggle"></a>
		<!--filter-sections-wrap-->
		<div class="filter-sections-wrap">
			<!--filter-section-wrap-->
			<div class="filter-section-wrap">
				<div class="filter-section-title">Цена</div>
				<div class="filter-section-content">
					<div class="frm-field-range">
						<div class="field-range-wrap">
							<div class="range-wrap">
								<input type="text" class="form-input" placeholder="0" id="range-slider-min">
							</div>
							<div class="range-wrap">
								<input type="text" class="form-input" placeholder="000" id="range-slider-max">
							</div>
						</div>
						<div id="range-slider"></div>
					</div>
				</div>
			</div>
			<!--/filter-section-wrap-->
			<!--filter-section-wrap-->
			<div class="filter-section-wrap">
				<div class="filter-section-title">Вид</div>
				<div class="filter-section-content">
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter01" checked>
						<label for="filter01">Упаковка</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter02" checked>
						<label for="filter02">На развес</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter03">
						<label for="filter03">Коробка</label>
					</div>
				</div>
			</div>
			<!--/filter-section-wrap-->
			<!--filter-section-wrap-->
			<div class="filter-section-wrap">
				<div class="filter-section-title">Содержит</div>
				<div class="filter-section-content">
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter04">
						<label for="filter04">Натуральные ингредиенты</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter05" checked>
						<label for="filter05">Витамины</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter06" checked>
						<label for="filter06">Минеральные вещества</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter07">
						<label for="filter07">Натуральные ароматизаторы</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter08">
						<label for="filter08">Сахар</label>
					</div>
					<div class="filter-hidden">
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter09">
							<label for="filter09">Натуральные ингредиенты</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter10">
							<label for="filter10">Витамины</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter11">
							<label for="filter11">Минеральные вещества</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter12">
							<label for="filter12">Натуральные ароматизаторы</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter13">
							<label for="filter13">Сахар</label>
						</div>
					</div>
					<div class="link-wrap">
						<a href="" data-show="Развернуть еще" data-hide="Свернуть" class="link-main"></a>
					</div>
				</div>
			</div>
			<!--/filter-section-wrap-->
			<!--filter-section-wrap-->
			<div class="filter-section-wrap">
				<div class="filter-section-title">Не содержит</div>
				<div class="filter-section-content">
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter14">
						<label for="filter14">ГМО</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter15">
						<label for="filter15">Искусственные добавки</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter16">
						<label for="filter16">Искусственные красители</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter17" checked>
						<label for="filter17">Консерванты</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter18" checked>
						<label for="filter18">Ароматизаторы</label>
					</div>
					<div class="filter-hidden">
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter19">
							<label for="filter19">ГМО</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter20">
							<label for="filter20">Искусственные добавки</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter21">
							<label for="filter21">Искусственные красители</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter22">
							<label for="filter22">Консерванты</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter23">
							<label for="filter23">Ароматизаторы</label>
						</div>
					</div>
					<div class="link-wrap">
						<a href="" data-show="Развернуть еще" data-hide="Свернуть" class="link-main"></a>
					</div>
				</div>
			</div>
			<!--/filter-section-wrap-->
			<!--filter-section-wrap-->
			<div class="filter-section-wrap">
				<div class="filter-section-title">Страна изготовитель</div>
				<div class="filter-section-content">
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter24">
						<label for="filter24">Россия</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter25" checked>
						<label for="filter25">Вьетнам</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter26" checked>
						<label for="filter26">Иран</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter27">
						<label for="filter27">Турция</label>
					</div>
					<div class="frm-select select-inner">
						<input type="checkbox" id="filter28">
						<label for="filter28">Чили</label>
					</div>
					<div class="filter-hidden">
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter29">
							<label for="filter29">Россия</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter30">
							<label for="filter30">Вьетнам</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter31">
							<label for="filter31">Иран</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter32">
							<label for="filter32">Турция</label>
						</div>
						<div class="frm-select select-inner">
							<input type="checkbox" id="filter33">
							<label for="filter33">Чили</label>
						</div>
					</div>
					<div class="link-wrap">
						<a href="" data-show="Развернуть еще" data-hide="Свернуть" class="link-main"></a>
					</div>
				</div>
			</div>
			<!--/filter-section-wrap-->
		</div>
		<!--/filter-sections-wrap-->
	</div>
</div>
<!--/filter-box-->