
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-footer.svg" alt="">
			</a>
		</div>
		<div class="footer-outer-wrap">
			<!--menu-->
			<div class="menu-outer-wrap">
				<div class="menu-inner-wrap">
					<div class="menu-wrap">
						<div class="menu-title">Зелень/Специи</div>
						<ul>
							<li><a href="">Шпинат</a></li>
							<li><a href="">Кинза</a></li>
							<li><a href="">Базилик зеленый</a></li>
							<li><a href="">Базилик красный</a></li>
							<li><a href="">Мята</a></li>
							<li><a href="">Розмарин</a></li>
							<li><a href="">Укроп</a></li>
							<li><a href="">Лук зеленый</a></li>
						</ul>
					</div>
					<div class="menu-wrap">
						<div class="menu-title">Овощи</div>
						<ul>
							<li><a href="">Салат</a></li>
							<li><a href="">Романо салат</a></li>
							<li><a href="">Грибы</a></li>
							<li><a href="">Черри красные</a></li>
							<li><a href="">Огурцы</a></li>
							<li><a href="">Огурцы (Светогор)</a></li>
							<li><a href="">Черри желтые</a></li>
							<li><a href="">Перез (Армения)</a></li>
						</ul>
					</div>
					<div class="menu-wrap">
						<div class="menu-title">Фрукты</div>
						<ul>
							<li><a href="">Мандарин (Марокко)</a></li>
							<li><a href="">Апельсин (Марокко)</a></li>
							<li><a href="">Лимон (Африка)</a></li>
							<li><a href="">Хурма/королек</a></li>
							<li><a href="">Лимон (Узбекситан)</a></li>
							<li><a href="">Апельсин (Иран)</a></li>
							<li><a href="">Киви</a></li>
							<li><a href="">Киви лысое</a></li>
						</ul>
					</div>
					<div class="menu-wrap">
						<div class="menu-title">О компании</div>
						<ul>
							<li><a href="">О компании</a></li>
							<li><a href="">Подписка на рассылку</a></li>
							<li><a href="">Пользовательское соглашение</a></li>
							<li><a href="">Видео</a></li>
							<li><a href="">Отзывы</a></li>
						</ul>
					</div>
				</div>
				<div class="menu-inner-wrap">
					<div class="menu-wrap">
						<div class="menu-title">Покупателям</div>
						<ul>
							<li><a href="">Доставка</a></li>
							<li><a href="">Оплата</a></li>
							<li><a href="">Депозит</a></li>
							<li><a href="">Возврат</a></li>
						</ul>
					</div>
					<div class="menu-wrap">
						<div class="menu-title">Контакты</div>
						<ul>
							<li><a href="">Как нас найти?</a></li>
							<li><a href="">Отправить сообщение</a></li>
							<li><a href="">Реквизиты</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/menu-->
			<!--info-outer-wrap-->
			<div class="info-outer-wrap">
				<div class="pays-wrap">
					<div class="footer-title">Принимаем к оплате:</div>
					<div class="pays-items items">
						<div class="elm-pay">
							<img src="./img/icons/pay-mc.svg" alt="">
						</div>
						<div class="elm-pay">
							<img src="./img/icons/pay-visa.svg" alt="">
						</div>
						<div class="elm-pay">
							<img src="./img/icons/pay-mir.svg" alt="">
						</div>
						<div class="elm-pay">
							<img src="./img/icons/pay-yd.svg" alt="">
						</div>
						<div class="elm-pay">
							<img src="./img/icons/pay-gp.svg" alt="">
						</div>
						<div class="elm-pay">
							<img src="./img/icons/pay-ap.svg" alt="">
						</div>
					</div>
				</div>
				<div class="soc-wrap">
					<div class="footer-title">Мы в соц.сетях:</div>
					<div class="soc-items items">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-fb.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-tw.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-yt.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-vk.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-ok.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-inst.svg" alt="">
						</a>
					</div>
				</div>
				<div class="ms-wrap">
					<div class="footer-title">Пишите нам в:</div>
					<div class="ms-items items">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/ms-skype.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/ms-tg.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/ms-vb.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/ms-wa.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<!--/info-outer-wrap-->
			<!--copy-->
			<div class="copy-wrap">© 2022 propitanie.ru Все права защищены. Политика конфиденциальности</div>
			<!--/copy-->
		</div>
	</div>
</footer>
<!-- /footer -->