
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="header-outer-wrap">
			<!--main-menu-wrap-->
			<div class="main-menu-wrap js-popup-wrap">
				<a href="" class="btn-action-ico btn button-border button-header ico-menu js-btn-toggle"></a>
				<div class="menu-content-block js-popup-block">
					<a href="" class="btn-action-ico ico-close js-btn-close"></a>
					<div class="menu-wrap">
						<ul class="menu">
							<li><a href="">О магазине</a></li>
							<li><a href="">ЛК</a></li>
							<li><a href="">Акции</a></li>
							<li><a href="">Доставка</a></li>
							<li><a href="">Опт</a></li>
							<li><a href="">Оплата</a></li>
							<li><a href="">Блог</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
					<div class="phone-wrap">
						<div class="phone-number">
							<a href="tel:84951200000">+7 (495) 120-00-00</a>
						</div>
						<div class="phone-action">
							<a href="" class="link-main">Заказать звонок </a>
						</div>
					</div>
					<div class="login-wrap">
						<ul>
							<li><a href="">Вход</a></li>
							<li><a href="">Регистрация</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/main-menu-wrap-->
			<!--header-actions-wrap-->
			<div class="header-actions-wrap">
				<!--action catalog-->
				<div class="action-wrap action-catalog main-catalog-wrap">
					<a href="" class="btn button-arrow js-catalog-toggle">
						<span class="button-title">Каталог товаров</span>
					</a>
				</div>
				<!--/action catalog-->
				<!--action seacrh-->
				<div class="action-wrap action-search main-search-wrap js-popup-wrap">
					<a href="" class="btn-action-ico btn button-header button-border ico-search js-btn-toggle"></a>
					<div class="search-content-block js-popup-block">
						<form action="/" class="frm-main-search">
							<input type="text" class="form-input" placeholder="Поиск по каталогу">
							<button type="submit" class="btn-action-ico ico-search"></button>
						</form>
					</div>
				</div>
				<!--/action seacrh-->
				<!--action-fav-->
				<div class="action-wrap action-fav">
					<a href="" class="btn-action-ico btn button-header button-border ico-fav"></a>
				</div>
				<!--/action-fav-->
				<!--action-cart-->
				<div class="action-wrap action-cart">
					<a href="" class="btn-action-ico btn button-header button-border ico-cart"></a>
					<div class="cart-title">Корзина пуста</div>
				</div>
				<!--/action-cart-->
			</div>
			<!--/header-actions-wrap-->
			<!--header-catalog-wrap-->
			<div class="header-catalog-wrap">
				<ul class="menu">
					<li>
						<a href="" class="btn-action-catalog">
							<div class="btn-action-ico button-header">
								<img src="./img/icons/menu01.svg" alt="">
							</div>
							<span class="button-title">Фрукты</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-action-catalog">
							<div class="btn-action-ico button-header">
								<img src="./img/icons/menu02.svg" alt="">
							</div>
							<span class="button-title">Овощи</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-action-catalog">
							<div class="btn-action-ico button-header">
								<img src="./img/icons/menu03.svg" alt="">
							</div>
							<span class="button-title">Зелень</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-action-catalog">
							<div class="btn-action-ico button-header">
								<img src="./img/icons/menu04.svg" alt="">
							</div>
							<span class="button-title">Специи</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-action-catalog">
							<div class="btn-action-ico button-header">
								<img src="./img/icons/menu05.svg" alt="">
							</div>
							<span class="button-title">Акции и скидки</span>
						</a>
					</li>
				</ul>
			</div>
			<!--/header-catalog-wrap-->
		</div>
	</div>
</header>
<!-- /header -->